<div class="opinions__wrapper">
	<div class="opinions__bg-image--wrapper">
		<div class="opinions">

			<div>
			  <div class="opinions__text--outer-wrapper">
			  	<div class="opinions__text--inner-wrapper">
						<div class="opinions__text--wrapper">
					  	<p class="opinions-text">
					  		Consectetur adipiscing elit. Ut fermentum condimentum massa, in sagittis dolor feugiat id. Morbi pharetra elit non lorem elementum iaculis. 
					  	</p>
					  	<div class="avatar__wrapper">
					  		<span class="body-text">
					  			<%= image_tag('opinion-face-1.png', class: 'opinion-face')%>
				  				Patrick Wasik, 
					  			<span class="tiny-blue">
					  				Graphic Designer at SYMU
					  			</span>
					  		</span>
					  	</div>
						</div>
					</div>	
			  </div>
			</div>

			<div>
			  <div class="opinions__text--outer-wrapper">
			  	<div class="opinions__text--inner-wrapper">
						<div class="opinions__text--wrapper">
					  	<p class="opinions-text">
					  		2 Consectetur adipiscing elit. Ut fermentum condimentum massa, in sagittis dolor feugiat id. Morbi pharetra elit non lorem elementum iaculis. 
					  	</p>
					  	<div class="avatar__wrapper">
					  		<span class="body-text">
					  			<%= image_tag('opinion-face-2.png', class: 'opinion-face')%>
				  				Patrick Wasik, 
					  			<span class="tiny-blue">
					  				Graphic Designer at SYMU
					  			</span>
					  		</span>
					  	</div>
						</div>
					</div>	
			  </div>
			</div>

			<div>
			  <div class="opinions__text--outer-wrapper">
			  	<div class="opinions__text--inner-wrapper">
						<div class="opinions__text--wrapper">
					  	<p class="opinions-text">
					  		3 Consectetur adipiscing elit. Ut fermentum condimentum massa, in sagittis dolor feugiat id. Morbi pharetra elit non lorem elementum iaculis. 
					  	</p>
					  	<div class="avatar__wrapper">
					  		<span class="body-text">
					  			<%= image_tag('opinion-face-1.png', class: 'opinion-face')%>
				  				Patrick Wasik, 
					  			<span class="tiny-blue">
					  				Graphic Designer at SYMU
					  			</span>
					  		</span>
					  	</div>
						</div>
					</div>	
			  </div>
			</div>

			<div>
			  <div class="opinions__text--outer-wrapper">
			  	<div class="opinions__text--inner-wrapper">
						<div class="opinions__text--wrapper">
					  	<p class="opinions-text">
					  		4 Consectetur adipiscing elit. Ut fermentum condimentum massa, in sagittis dolor feugiat id. Morbi pharetra elit non lorem elementum iaculis. 
					  	</p>
					  	<div class="avatar__wrapper">
					  		<span class="body-text">
					  			<%= image_tag('opinion-face-2.png', class: 'opinion-face')%>
				  				Patrick Wasik, 
					  			<span class="tiny-blue">
					  				Graphic Designer at SYMU
					  			</span>
					  		</span>
					  	</div>
						</div>
					</div>	
			  </div>
			</div>

			<div>
			  <div class="opinions__text--outer-wrapper">
			  	<div class="opinions__text--inner-wrapper">
						<div class="opinions__text--wrapper">
					  	<p class="opinions-text">
					  		5 Consectetur adipiscing elit. Ut fermentum condimentum massa, in sagittis dolor feugiat id. Morbi pharetra elit non lorem elementum iaculis. 
					  	</p>
					  	<div class="avatar__wrapper">
					  		<span class="body-text">
					  			<%= image_tag('opinion-face-1.png', class: 'opinion-face')%>
				  				Patrick Wasik, 
					  			<span class="tiny-blue">
					  				Graphic Designer at SYMU
					  			</span>
					  		</span>
					  	</div>
						</div>
					</div>	
			  </div>
			</div>


		</div>
		<span id="dotsWrrapper">
		</span>
	</div>
</div>