<!-- Title Section -->
<div class="container">
	<div class="title__outer--wrapper">
		<div class="title__wrapper">
			<div class="title__inner--wrapper">
				<h2 class="title-text"><span class="blue">Selus</span> is cool app</h2>
			</div>
			<div class="button__wrapper title">
				<button type="button" id="#titleButton" class="button">
					Explore
				</button>
			</div>
		</div>
	</div>
</div>

<!-- Screens Section -->
<div class="screens__wrapper">
	<div class="container">
		<div class="screens__image--wrapper small col-lg-4 col-md-4 col-sm-4 col-xs-4">
			<%= image_tag('screens-image-1.png', class: "screens")%>
		</div>
		<div class="screens__image--wrapper large col-lg-4 col-md-4 col-sm-4 col-xs-4">
			<%= image_tag('screens-image-2.png', class: "screens")%>
		</div>
		<div class="screens__image--wrapper small col-lg-4 col-md-4 col-sm-4 col-xs-4">
			<%= image_tag('screens-image-3.png', class: "screens")%>
		</div>
	</div>
</div>

<!-- Headphones Section -->

<div class="headphones__wrapper">
	<div class="headphones__image-wrapper">
		<%= image_tag('headphones-image.png', class: "headphones")%>
	</div>	
	<div class="headphones__container">
		<h2 class="title-text text__align--center"><span class="text__align--center  blue">Selus</span> is for music</h2>
		<p class="headphones body-text">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fermentum condimentum massa, in sagittis dolor feugiat id. Morbi pharetra elit non lorem elementum iaculis. Curabitur aliquet lacus sit amet metus molestie ultrices vel in nibh. Sed sit amet feugiat turpis, ut bibendum velit. In et felis mauris.
		</p>
		<div class="button__wrapper headphones">
			<button type="button" id="#headphonesButton" class="button">
				View more
			</button>
		</div>
	</div>
</div>

<!-- Features Section -->

<div class="features__wrapper">
	<div class="features__header--wrapper">
		<h2 class="text__align--center title-text"><span class="text__align--center blue">Selus</span> with lots of features</h2>
	</div>
	<div class="features__inner--wrapper">
		<div class="mobile features-phone__image--wrapper">
			<%= image_tag('features-phone-image.png', class: "features-phone")%>
			<div class="features-phone-shadow__wrapper relative-z-1">
				<%= image_tag('features-phone-shadow.png', class: "relative-z-1 features-phone-shadow")%>
			</div>
		</div>
		<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 relative-z-1">
			<div class="feature__wrapper">
				<?xml version="1.0" encoding="utf-8"?>
				<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 width="54px" height="54px" viewBox="0 0 54 54" enable-background="new 0 0 54 54" xml:space="preserve">
				<path fill-rule="evenodd" clip-rule="evenodd" fill="#EF3B3A" d="M47.617,42.453c-0.496,0.497-1.145,0.747-1.796,0.747
					c-0.644,0-1.29-0.246-1.785-0.735c-0.99-0.985-0.997-2.589-0.011-3.581c3.167-3.187,4.912-7.408,4.912-11.883
					c0-4.477-1.745-8.697-4.912-11.884c-0.986-0.992-0.979-2.596,0.011-3.581c0.494-0.49,1.14-0.735,1.785-0.735
					c0.651,0,1.3,0.249,1.796,0.747C51.732,15.692,54,21.18,54,27.001C54,32.821,51.732,38.309,47.617,42.453z M39.638,36.056
					c-0.475,0.397-1.052,0.592-1.625,0.592c-0.723,0-1.442-0.309-1.941-0.904c-0.898-1.073-0.758-2.668,0.313-3.566
					c1.543-1.292,2.427-3.179,2.427-5.176c0-1.998-0.885-3.885-2.427-5.177c-1.071-0.897-1.211-2.493-0.313-3.566
					c0.5-0.597,1.218-0.904,1.941-0.904c0.573,0,1.15,0.194,1.625,0.591c2.692,2.256,4.237,5.557,4.237,9.056
					C43.875,30.499,42.331,33.8,39.638,36.056z M27,54h-3.375L11.812,42.188H3.375C1.511,42.188,0,40.677,0,38.812V15.188
					c0-1.864,1.511-3.375,3.375-3.375h8.438L23.625,0H27c1.864,0,3.375,1.511,3.375,3.375v47.251C30.375,52.489,28.864,54,27,54z
					 M25.312,5.472L13.909,16.875H5.062v20.251h8.847l11.403,11.403V5.472z"/>
				</svg>
				<h3 class="feature">
					Lorem ipsum dolor sit amet
				</h3>
				<p class="body-text">
					Consectetur adipiscing elit. Ut fermentum condimentum massa, in sagittis dolor feugiat id. Morbi pharetra elit non lorem elementum iaculis.
				</p>
			</div>
			<div class="feature__wrapper">
				<?xml version="1.0" encoding="utf-8"?>
				<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 width="55px" height="40px" viewBox="0 0 55 40" enable-background="new 0 0 55 40" xml:space="preserve">
				<path fill="#EF3B3A" d="M54.792,15.827l-6.47-14.4C47.943,0.587,47.092,0,46.103,0c-1.155,0-2.12,0.798-2.366,1.867l-6.392,27.818
					L28.936,9.488C28.573,8.615,27.704,8,26.691,8c-1.001,0-1.861,0.6-2.23,1.456l-7.644,17.642l-4.129-8.17
					c-0.398-0.788-1.221-1.328-2.172-1.328c-0.749,0-1.42,0.336-1.864,0.865l-8.088,9.599C0.212,28.482,0,29.016,0,29.6
					C0,30.925,1.087,32,2.427,32c0.749,0,1.42-0.336,1.864-0.864l5.712-6.78l4.81,9.516c0.398,0.788,1.221,1.328,2.172,1.328
					c1.001,0,1.861-0.6,2.231-1.456l7.429-17.147l9.125,21.917C36.133,39.386,37.002,40,38.015,40c1.155,0,2.12-0.799,2.366-1.866
					l6.471-28.16l3.504,7.799c0.377,0.84,1.229,1.427,2.218,1.427c1.34,0,2.427-1.076,2.427-2.401
					C55,16.454,54.926,16.125,54.792,15.827z"/>
				</svg>
				<h3 class="feature">
					Lorem ipsum dolor sit amet
				</h3>
				<p class="body-text">
					Consectetur adipiscing elit. Ut fermentum condimentum massa, in sagittis dolor feugiat id. Morbi pharetra elit non lorem elementum iaculis.
				</p>			
			</div>
		</div>
		<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 hidden-mobile features-phone__image--wrapper">
			<%= image_tag('features-phone-image.png', class: "features-phone")%>
			<div class="features-phone-shadow__wrapper relative-z-1">
				<%= image_tag('features-phone-shadow.png', class: "relative-z-1 features-phone-shadow")%>
			</div>
		</div>
		<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 relative-z-1">
			<div class="feature__wrapper">
				<?xml version="1.0" encoding="utf-8"?>
				<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 width="55px" height="52px" viewBox="0 0 55 52" enable-background="new 0 0 55 52" xml:space="preserve">
				<path fill="#EF3B3A" d="M50.638,31.667c0.725-2.304,1.126-4.75,1.126-7.292C51.765,10.935,40.88,0,27.5,0
					C14.12,0,3.235,10.935,3.235,24.375c0,2.542,0.401,4.988,1.126,7.292C1.711,33.749,0,36.984,0,40.626C0,46.908,5.069,52,11.323,52
					h1.618c1.787,0,3.235-1.455,3.235-3.25V32.5c0-1.795-1.449-3.25-3.235-3.25h-1.618c-0.867,0-1.708,0.106-2.52,0.292
					c-0.453-1.648-0.716-3.375-0.716-5.167c0-10.752,8.708-19.5,19.412-19.5c10.704,0,19.412,8.748,19.412,19.5
					c0,1.792-0.262,3.518-0.716,5.167c-0.812-0.185-1.652-0.292-2.52-0.292h-1.618c-1.787,0-3.235,1.455-3.235,3.25v16.25
					c0,1.795,1.449,3.25,3.235,3.25h1.618C49.931,52,55,46.908,55,40.626C55,36.984,53.289,33.749,50.638,31.667z M11.323,47.126
					c-3.568,0-6.471-2.916-6.471-6.5c0-3.585,2.902-6.5,6.471-6.5V47.126z M43.676,47.126v-13c3.569,0,6.471,2.916,6.471,6.5
					C50.147,44.21,47.245,47.126,43.676,47.126z"/>
				</svg>
				<h3 class="feature">
					Lorem ipsum dolor sit amet
				</h3>
				<p class="body-text">
					Consectetur adipiscing elit. Ut fermentum condimentum massa, in sagittis dolor feugiat id. Morbi pharetra elit non lorem elementum iaculis.
				</p>		
			</div>
			<div class="feature__wrapper">
			<?xml version="1.0" encoding="utf-8"?>
				<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 width="47px" height="47px" viewBox="0 0 47 47" enable-background="new 0 0 47 47" xml:space="preserve">
				<path fill="#EF3B3A" d="M23.5,0C10.522,0,0,10.521,0,23.5C0,36.479,10.522,47,23.5,47S47,36.479,47,23.5C47,10.521,36.478,0,23.5,0z
					 M13.5,7.267l5.053,10.838c-0.156,0.144-0.306,0.292-0.449,0.449L7.266,13.499C8.833,10.967,10.967,8.831,13.5,7.267z M23.5,26.438
					c-1.621,0-2.938-1.318-2.938-2.938s1.316-2.938,2.938-2.938c1.621,0,2.938,1.318,2.938,2.938S25.121,26.438,23.5,26.438z
					 M23.5,42.594c-10.528,0-19.094-8.566-19.094-19.094c0-2.103,0.355-4.121,0.985-6.014l10.86,5.064
					c-0.042,0.314-0.096,0.624-0.096,0.95c0,4.056,3.287,7.344,7.344,7.344c0.324,0,0.634-0.054,0.948-0.096l5.064,10.861
					C27.619,42.24,25.603,42.594,23.5,42.594z M33.5,39.735l-5.055-10.839c0.158-0.143,0.307-0.292,0.45-0.45L39.733,33.5
					C38.169,36.034,36.033,38.169,33.5,39.735z M30.749,24.447c0.04-0.312,0.095-0.622,0.095-0.946c0-4.056-3.288-7.344-7.344-7.344
					c-0.324,0-0.636,0.055-0.95,0.096L17.486,5.392c1.893-0.631,3.912-0.986,6.014-0.986c10.528,0,19.094,8.566,19.094,19.094
					c0,2.102-0.354,4.119-0.984,6.013L30.749,24.447z"/>
				</svg>
				<h3 class="feature">
					Lorem ipsum dolor sit amet
				</h3>
				<p class="body-text">
					Consectetur adipiscing elit. Ut fermentum condimentum massa, in sagittis dolor feugiat id. Morbi pharetra elit non lorem elementum iaculis.
				</p>
			</div>
		</div>
	</div>
</div>